@use "../../../app/styles/definition.scss" as *;

.footer {
  width: 100%;
  border-top: 1px solid $border-neutral;
  background-color: $primary-bg;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1.5rem 2rem;
  max-width: 1400px;
  margin: 0 auto;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  font-size: 1.125rem;
  color: $primary-default;
  text-decoration: none;
}

.copyright {
  text-align: center;
  font-size: $font-nav;
  color: $text-secondary;
}

.nav {
  display: flex;
  gap: 1rem;
}

.navLink {
  font-size: $font-nav;
  font-weight: 500;
  color: $text-secondary;
  text-decoration: none;
}

.navLink:hover {
  text-decoration: underline;
}

.githubLink {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* 미디어 쿼리 */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  .logoContainer {
    align-items: flex-start;
  }

  .copyright {
    text-align: left;
  }
}
